@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    padding: .7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header i {
    color: #5F6368;
    text-decoration: none;
    font-size: 1.3rem;
    padding-top: 1.1rem;
    padding-right: 1.3rem;
}

nav {
    border-bottom: 1px solid #CBCBCB;
    margin-top: .6rem;
}

nav ul {
    list-style: none;
    padding-left: .6rem;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
    padding-bottom: .5rem;
}

nav a {
    color: #5F6368;
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;
}

nav ul li.active {
    border-bottom: 3px solid #3367D6;
}

nav ul li.active a {
    color: #3367D6;
}

main {
    padding-top: 6rem;
}

.container {
    width: 38%;
    margin: 0 auto;
}

.container .faq {
    margin: 5rem 0;
}

.faq h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #3C4043;
}

.faq h4 {
    color: #3C4043;
    font-weight: 400;
    font-size: 1.2rem;
}

.faq p {
    color: #212121;
    margin: 2rem 0;
    font-size: .85rem;
    line-height: 1.35rem;
}

ol li {
    color: #212121;
    font-size: .85rem;
    line-height: 1.35rem;
    padding-left: 1rem;
    margin: 1rem;
    margin-right: 0;
}

.faq a {
    text-decoration: none;
    color: #3367D6;
}

footer {
    background-color: #F5F5F5;
    padding: 1rem 0;
    border-top: 1px solid lightgrey;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    display: inline-block;
    padding-right: .5rem;
}

footer ul li a {
    color: grey;
    text-decoration: none;
    font-size: .7rem;
    font-weight: 200;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right i {
    font-size: 1.2rem;
    padding-right: 1rem;
}